<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uk.ac.cam.seh208.middleware.core">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="uk.ac.cam.seh208.middleware.core.MiddlewareService"
            android:description="@string/mw_desc"
            android:exported="true" />

        <service
            android:name="uk.ac.cam.seh208.middleware.core.RDCService"
            android:description="@string/rdc_desc"
            android:exported="true" />


        <!-- These should be in their own androidTest manifest, and are only here
             as a workaround to gradle not correctly including both manifests. -->
        <service android:name=".TestMiddlewareService" />

        <service android:name=".TestRDCService" />

    </application>

</manifest>
